In [4]:
import pandas as pd

df_parquet = pd.read_parquet('./../data/daily_weather.parquet')
df_parquet

,station_id,city_name,date,season,avg_temp_c,min_temp_c,max_temp_c,precipitation_mm,snow_depth_mm,avg_wind_dir_deg,avg_wind_speed_kmh,peak_wind_gust_kmh,avg_sea_level_pres_hpa,sunshine_total_min
0,41515,Asadabad,1957-07-01,Summer,27.0,21.1,35.6,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,41515,Asadabad,1957-07-02,Summer,22.8,18.9,32.2,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,41515,Asadabad,1957-07-03,Summer,24.3,16.7,35.6,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,41515,Asadabad,1957-07-04,Summer,26.6,16.1,37.8,4.1,NaN,NaN,NaN,NaN,NaN,NaN
4,41515,Asadabad,1957-07-05,Summer,30.8,20.0,41.7,0.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24216,67975,Masvingo,2023-09-01,Spring,19.5,9.6,28.4,NaN,NaN,180.0,4.6,NaN,NaN,NaN
24217,67975,Masvingo,2023-09-02,Spring,21.3,10.5,31.4,NaN,NaN,146.0,6.3,NaN,NaN,NaN
24218,67975,Masvingo,2023-09-03,Spring,22.1,13.0,31.5,NaN,NaN,147.0,8.2,NaN,NaN,NaN
24219,67975,Masvingo,2023-09-04,Spring,21.5,13.1,29.7,NaN,NaN,155.0,10.2,NaN,NaN,NaN
24220,67975,Masvingo,2023-09-05,Spring,20.0,14.0,27.3,NaN,NaN,141.0,12.9,NaN,NaN,NaN

In [6]:
df_parquet.to_csv("./../data/daily_wather_csv.csv", index=False)